
  
  .crd{
    display: flex;
    align-items: center;
      gap: 15px;
    padding-bottom: 80px;
  }
  
  .card {
    background-color: var(--background);
    display: block;
    width: 300px;
    min-height: 90px;
    border: 3px solid var(--green);
    padding: 15px;
    margin: calc(50px - 30px) auto 0 auto;
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
          20px -20px 0 -3px var(--background), 20px -20px var(--red), 
          30px -30px 0 -3px var(--background), 30px -30px var(--red), 
          40px -40px 0 -3px var(--background), 40px -40px var(--red); 
    transition: box-shadow 1s, top 1s, left 1s;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  
  .card:hover {
    top: -40px;
    left: 40px;
    box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--primary),
        0 0 0 -3px var(--background), 0 0 0 0  var(--primary),
        0 0 0 -3px var(--background), 0 0 0 0  var(--primary),
        0 0 0 -3px  var(--background), 0 0 0 0  var(--primary);
  }
  
  
  
  :root {
    --primary: #555BFF;
    --secondary: #22D2A0;
    --background: white;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
  } 
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  .card p {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 14px;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
  }
  
  .wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
  }
  
  .card2 {
    grid-area: 1 / 1;
    height: 150px;
    width: 400px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(26, 201, 249, 0.88);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  .card2 .enclosed {
    background: #000;
    line-height: 1;
    color: rgba(26, 201, 249, 0.88);;
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .wrapper:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
  }
  
  
  .wrapper:hover > div,
  .wrapper:hover:before {
    transform: none;
  }
  
  
  .wrapper > div,
  .wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  .card2 h1 {
    font-size: 40px;
    font-weight: 900;
  }



  .infocardContainer * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
  }
  h2 {
    font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
  }
  header {
    height: 2em;
    background-color: #111122;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: white;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #555566;
  }
  a:hover {
    text-decoration: underline;
  }
  .infocardContainer {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: rgb(0,159,255);
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
    margin-top: 50px;
    --margin-top: 100px;
  }
  .infocardContainer:hover {
    width: 500px;
    border-radius: 100px 10px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer div {
    text-color: white;
    flex-shrink: 1;
    width: 100%;
    --background-color: green;
  }
  .infocardContainer div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    --background-color: yellow;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s;
  }
  .infocardContainer:hover div *{
    --background-color: purple;
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer #main, .infocardContainer #main img{
    --background-color: red;
    height: 200px;
    width: 200px;
    padding-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer #main img{
    height: 180px;
    width: 180px;
    transition: none;
    display: float;
    position: relative;
    border: 10px solid white;
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer #textbois {
    position: relative;
  }
  .infocardContainer #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer #textbois #hotlinks * {
    background-color: white;
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }